{{if .IsHome}}
	<!-- Side Nav -->
	<div id="mySidenav" class="sidenav">
		<div class="container position-relative" id="sidenav-content">
			<span class="closebtn" onclick="closeNav()">
				<svg xmlns="http://www.w3.org/2000/svg" height="60px" viewBox="0 0 24 24" width="60px" fill="#E41B85"><path d="M0 0h24v24H0z" fill="none"/><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/></svg>
			</span>
			<div class="row sidenav-menu">
				<div class="col-md-6">
					<img src="/assets/img/menu-bg.png" alt="" class="sidenav-bg w-75">
				</div>
				<div class="col-md-6">
					<div class="sidenav-menu-links text-end">
						<a href="/vacancies">Vacancies</a>
						<a href="/salary-survey">Salary Survey</a>
						<a href="/team">Meet the team</a>
						<a href="/diversity">Diversity</a>
						<a href="/social">Social</a>
					</div>
				</div>
			</div>
			
		</div>
	</div>

	<!-- Side Nav Toggle -->
	<div class="row position-relative text-end pt-md-5 pt-3 header pb-3 main-nav">
		<div class="col-md-11 col-12 text-center text-md-end">
			<div class="nav-logo d-md-none d-inline-block">
				<img src="/assets/img/nav-logo.png" alt="">
			</div>
			<span class="sidenav-toggle" onclick="openNav()">
				<svg xmlns="http://www.w3.org/2000/svg" height="60px" viewBox="0 0 24 24" width="60px" fill="#E41B85"><path d="M0 0h24v24H0z" fill="none"/><path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/></svg>
			</span>
		</div>
	</div>
{{else if eq .Type "RC-Home"}}
	<!-- Side Nav -->
	<div id="mySidenav" class="sidenav">
		<div class="container position-relative" id="sidenav-content">
			<span class="closebtn" onclick="closeNav()">
				<svg xmlns="http://www.w3.org/2000/svg" height="60px" viewBox="0 0 24 24" width="60px" fill="#E41B85"><path d="M0 0h24v24H0z" fill="none"/><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/></svg>
			</span>
			<div class="row sidenav-menu">
				<div class="col-md-6">
					<img src="/assets/img/home/home-front.png" alt="" class="sidenav-bg w-100">
				</div>
				<div class="col-md-6">
					<div class="sidenav-menu-links text-end">
						<a href="/home">Home</a>
						<a href="/vacancies">Vacancies</a>
						<a href="/salary-survey">Salary Survey</a>
						<a href="/team">Meet the team</a>
						<a href="/diversity">Diversity</a>
						<a href="/social">Social</a>
						<a href="/home-hr" class="switch-theme-btn">Switch To HR Solutions</a>
					</div>
				</div>
			</div>
			
		</div>
	</div>

	<!-- Side Nav Toggle -->
	<div class="navbar container position-relative text-end pt-md-5 pt-3 header">
		<a href="mailto:info@kmkrecruitment.co.uk" class="btn btn-primary py-2 submit-cv-btn">
			Submit Your CV
		</a>
		<div class="nav-logo d-md-none d-inline-block">
			<img src="/assets/img/nav-logo.png" alt="">
		</div>
		<span class="sidenav-toggle" onclick="openNav()">
			<svg xmlns="http://www.w3.org/2000/svg" height="60px" viewBox="0 0 24 24" width="60px" fill="#585856"><path d="M0 0h24v24H0z" fill="none"/><path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/></svg>
		</span>
	</div>
	{{ else if eq .Type "HR-Home" }}

		<!-- Side Nav -->
	<div id="mySidenav" class="sidenav">
		<div class="container position-relative" id="sidenav-content">
			<span class="closebtn" onclick="closeNav()">
				<svg xmlns="http://www.w3.org/2000/svg" height="60px" viewBox="0 0 24 24" width="60px" fill="#E1B031"><path d="M0 0h24v24H0z" fill="none"/><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/></svg>
			</span>
			<div class="row sidenav-menu">
				<div class="col-md-6">
					<img src="/assets/img/home2/home-front.png" alt="" class="sidenav-bg w-100">
				</div>
				<div class="col-md-6">
					<div class="sidenav-menu-links text-end">
						<a href="/home-hr">Home</a>
						<a href="/vacancies-hr">Vacancies</a>
						<a href="/salary-survey-hr">Salary Survey</a>
						<a href="/team-hr">Meet the team</a>
						<a href="/diversity-hr">Diversity</a>
						<a href="/social-hr">Social</a>
						<a href="/home" class="switch-theme-btn">Switch To KMK Recruitments</a>
					</div>
				</div>
			</div>
			
		</div>
	</div>

	<!-- Side Nav Toggle -->
	<div class="navbar container position-relative text-end pt-md-5 pt-3 header">
		<a href="mailto:info@kmkrecruitment.co.uk" class="btn btn-primary py-2 submit-cv-btn">
			Submit Your CV
		</a>
		<div class="nav-logo d-md-none d-inline-block">
			<img src="/assets/img/nav-logo-orange.png" alt="">
		</div>
		<span class="sidenav-toggle" onclick="openNav()">
			<svg xmlns="http://www.w3.org/2000/svg" height="60px" viewBox="0 0 24 24" width="60px" fill="#585856"><path d="M0 0h24v24H0z" fill="none"/><path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/></svg>
		</span>
	</div>

	{{ else if or (eq .Type "RC") (eq .Type "vacancies") }}
		<!-- Side Nav -->
	<div id="mySidenav" class="sidenav">
		<div class="container position-relative" id="sidenav-content">
			<span class="closebtn" onclick="closeNav()">
				<svg xmlns="http://www.w3.org/2000/svg" height="60px" viewBox="0 0 24 24" width="60px" fill="#E41B85"><path d="M0 0h24v24H0z" fill="none"/><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/></svg>
			</span>
			<div class="row sidenav-menu">
				<div class="col-md-6">
					<img src="/assets/img/home/home-front.png" alt="" class="sidenav-bg w-100">
				</div>
				<div class="col-md-6">
					<div class="sidenav-menu-links text-end">
						<a href="/home">Home</a>
						<a href="/vacancies">Vacancies</a>
						<a href="/salary-survey">Salary Survey</a>
						<a href="/team">Meet the team</a>
						<a href="/diversity">Diversity</a>
						<a href="/social">Social</a>
						<a href="/home-hr" class="switch-theme-btn">Switch To HR Solutions</a>
					</div>
				</div>
			</div>
			
		</div>
	</div>

	<!-- Side Nav Toggle -->
	<div class="shadow-sm header py-2">
		<div class="container position-relative d-flex justify-content-between">
			<a href="/home" class="nav-logo">
				<img src="/assets/img/nav-logo.png" alt="">
			</a>
			<a href="/home-hr" class="switch-btn-nav">Switch To HR Solutions</a>
			<span class="sidenav-toggle" onclick="openNav()">
				<svg xmlns="http://www.w3.org/2000/svg" height="60px" viewBox="0 0 24 24" width="60px" fill="#E41B85"><path d="M0 0h24v24H0z" fill="none"/><path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/></svg>
			</span>
		</div>
	</div>

	{{ else if or (eq .Type "HR") (eq .Type "vacancies-hr")  }}
		<!-- Side Nav -->
	<div id="mySidenav" class="sidenav">
		<div class="container position-relative" id="sidenav-content">
			<span class="closebtn" onclick="closeNav()">
				<svg xmlns="http://www.w3.org/2000/svg" height="60px" viewBox="0 0 24 24" width="60px" fill="#E1B031"><path d="M0 0h24v24H0z" fill="none"/><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/></svg>
			</span>
			<div class="row sidenav-menu">
				<div class="col-md-6">
					<img src="/assets/img/home2/home-front.png" alt="" class="sidenav-bg w-100">
				</div>
				<div class="col-md-6">
					<div class="sidenav-menu-links text-end">
						<a href="/home-hr">Home</a>
						<a href="/vacancies-hr">Vacancies</a>
						<a href="/salary-survey-hr">Salary Survey</a>
						<a href="/team-hr">Meet the team</a>
						<a href="/diversity-hr">Diversity</a>
						<a href="/social-hr">Social</a>
						<a href="/home-hr" class="switch-theme-btn">Switch To KMK Recruitments</a>
					</div>
				</div>
			</div>
			
		</div>
	</div>

	<!-- Side Nav Toggle -->
	<div class="shadow-sm header py-2">
		<div class="container position-relative d-flex justify-content-between">
			<a href="/home-hr" class="nav-logo">
				<img src="/assets/img/nav-logo-orange.png" alt="">
			</a>
			<a href="/home" class="switch-btn-nav">Switch To KMK Recruitment</a>
			<span class="sidenav-toggle" onclick="openNav()">
				<svg xmlns="http://www.w3.org/2000/svg" height="60px" viewBox="0 0 24 24" width="60px" fill="#E1B031"><path d="M0 0h24v24H0z" fill="none"/><path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/></svg>
			</span>
		</div>
	</div>
	{{ else }}
	{{ end }}