	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>KMK</title>
	<meta property="og:url" content="https://kmkrecruitment.co.uk" />
	<meta property="og:site_name" content="KMK Recruitment">
	<meta property="og:title" content="KMK Recruitment" />
	<meta property="og:type" content="website" />
	<meta property="og:description" content= "Matching talented individuals to bespoke opportunities" />
	<meta name="image" property="og:image" content="https://kmkrecruitment.co.uk/assets/img/social-logo.jpg">
	<meta property="og:image:secure_url" itemprop="image" content="https://kmkrecruitment.co.uk/assets/img/social-logo.jpg" />
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-PMP21G6YD9"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'G-PMP21G6YD9');
	</script>
	<link rel="icon" href="/assets/img/favicon-pink.png" type="image/png" sizes="16x16">
	<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="/assets/css/slick.css">
	<link rel="stylesheet" href="/assets/css/slick-theme.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"/>
	<link rel="stylesheet" href="/style.css">
	<link rel="stylesheet" href="/responsive.css">
	{{if or (eq .Type "RC") (eq .Type "RC-Home") (eq .Type "vacancies")}}
	<link rel="stylesheet" href="/home1.css">
	{{else if or (eq .Type "HR") (eq .Type "HR-Home") (eq .Type "vacancies-hr")}}
	<link rel="stylesheet" href="/home2.css">
	{{else}}
	{{end}}