	<div class="latest-vacancies">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h1 class="text-center section-heading">
						Latest <span class="text-primary">Vacancies</span>
					</h1>
				</div>
			</div>
			<div class="row mt-5 g-xl-5 g-md-4 g-5 vacancies-row">
				
				{{ range first 3 (where $.Site.RegularPages "Type" "vacancies-hr") }}

				<div class="col-md-4">
					<a href="{{ .RelPermalink }}" class="vacancy-link">
						<div class="vacancy-card position-relative">
							{{ if in (lower .Params.jobtype) "permenant" }}
							<div class="vacancy-ribbon bg-success">
							{{ else if in (lower .Params.jobtype) "contract" }}
							<div class="vacancy-ribbon bg-orange">
							{{ else if in (lower .Params.jobtype) "temporary" }}
							<div class="vacancy-ribbon bg-warning">
							{{ else }}
							{{ end }}
								{{ .Params.jobtype }}
							</div>
							<div class="vacancy-img">
								<img src="{{ .Params.imgfile }}" alt="">
							</div>
							<div class="vacancy-meta">
								<h1>
									{{ .Params.title }}
								</h1>
								<h1 class="text-primary">
									{{ .Params.industry }}
								</h1>
								<p>
									{{ .Params.summary }}
								</p>
							</div>
							<div class="vacancy-location">
								<br>
								<i class="fas fa-map-marker-alt"></i>
								{{ .Params.location }}
							</div>
						</div>
					</a>
				</div>

					{{end}}		
			</div>
		</div>
	</div>