{{ define "main" }}
	<div class="landing-section">
		
			<div class="row">
				<div class="col-md-4 order-md-1 order-2">
					<div class="site-one-box py-4 bg-white">
						<div class="row">
							<div class="col-xl-9 offset-xl-3 col-lg-10 offset-lg-2 col-11 offset-1">
								<div class="site-box-logo">
									<div class="row g-2">
										<div class="col-4">
											<a href="home">
												<img src="assets/img/logo-pink.png" class="site-box-logo w-100" alt="">
											</a>
										</div>
										<div class="col-8">
											<div class="site-box-meta">
												<h6>RECRUITMENT</h6>
												<a href="home">
													<small>About Us</small>
												</a>
											</div>
										</div>
									</div>
								</div>
								<div class="site-box-button mt-4">
									<a href="vacancies" class="btn btn-pink">
										Find Vacancies
									</a>
								</div>
							</div>
						</div>
					</div>
					
					<div class="site-two-box py-4 mt-4 bg-white">
						<div class="row">
							<div class="col-xl-9 offset-xl-3 col-lg-10 offset-lg-2 col-11 offset-1">
								<div class="site-box-logo">
									<div class="row g-2">
										<div class="col-4">
											<a href="home-hr">
												<img src="assets/img/logo-orange.png" class="site-box-logo w-100" alt="">
											</a>
										</div>
										<div class="col-8">
											<div class="site-box-meta">
												<h6>HR SOLUTIONS</h6>
												<a href="home-hr">
													<small>About Us</small>
												</a>
											</div>
										</div>
									</div>
								</div>
								<div class="site-box-button mt-4">
									<a href="vacancies-hr" class="btn btn-orange">
										Find Vacancies
									</a>
								</div>
							</div>
						</div>
					</div>

				</div>
				<div class="col-md-7 order-md-2 order-1">
					<h1 class="landing-head text-end">
						Matching talented <span class="text-pink">individuals</span> <br>
						to bespoke <span class="text-orange">opportunities</span>
					</h1>
				</div>
			</div>
		
	</div>
{{end}}